* {
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: #EEA47F;
}


header {
    border-bottom: 1px solid black;
    background-color: royalblue;
    text-align: right;
}

footer {
    border-top: 1px solid black;
    background-color: royalblue;
    position: sticky;
    text-align: center;
}