* {
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: #EEA47F;
}

#h1-box {
    border: 1px solid rgb(0, 166, 255);
    border-radius: 5px;
    width: 180px;
    background-color: lightblue;
    text-align: center;
    margin: 5px;
}

.project-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 5px;
    row-gap: 15px;
}
.projectbox{
    background-color: lightskyblue;
    text-align: center;
    height: 80px;
    width: 110px;
    padding: 10px 0;
}
#box1 {
    border: 1px solid white;
    border-radius: 5px;
}
#box2 {
    border: 1px solid white;
    border-radius: 5px;
}
#box3 {
    border: 1px solid white;
    border-radius: 5px;
}
#box4 {
    border: 1px solid white;
    border-radius: 5px;
}
header {
    border-bottom: 1px solid black;
    background-color: royalblue;
    text-align: right;
}

footer {
    border-top: 1px solid black;
    background-color: royalblue;
    position: sticky;
    text-align: center;
}
#modal {
    background-color: rgba(37, 111, 108, 0.3);
    position: center;
    top: auto;
    left: auto;
    height: 50%;
    width: 50%;
    z-index: 1;
    overflow: auto;
    margin: 150px auto;
    display: none;
}
#modal-textbox {
    background-color: white;
    height: 135px;
    width: 255px;
    border-radius: 5px;
    margin: 25px auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
#close {
    background-color: rgba(37, 111, 108, 0.3);
    border-radius: 5px;
    margin-top: 3px;
}